@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.wrap {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 0 auto;
  animation: fromRight 0.5s ease-in-out;
}

:root {
  --fc-border-color: #cbcbcb;
}

:where(.css-dev-only-do-not-override-1wazalj) a {
  color: #666666;
  cursor: default;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #f3f8ff;
}

.fc-event-title-container {
  cursor: pointer;
}

.fc .fc-toolbar {
  display: block;
  position: relative;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px;
}

.fc-toolbar-title {
  text-align: center;
}

.fc .fc-button-group {
  position: inherit;
}

.fc .fc-button-primary {
  background-color: #fff;
  border-color: #fff;
  color: #575757;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  position: absolute;
  top: 0;
  left: 35%;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  position: absolute;
  top: 0;
  right: 35%;
}

.fc-col-header-cell {
  background: rgb(214 229 249);
}

.fc-day a {
  color: #5e5e5e;
  font-size: 18px;
}

.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
}

.fc-daygrid-day-number {
  font-size: 16px;
  font-weight: 500;
}
