/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Orbit&family=Single+Day&display=swap'); */

:root {
  --fc-border-color: #e0e0e0;
  --fc-button-bg-color: #5e5e5e;
  --fc-button-border-color: #5e5e5e;
  --fc-button-hover-bg-color: none;
  --fc-button-active-border-color: none;
  --fc-button-active-bg-color: none;
}

:where(.css-dev-only-do-not-override-1wazalj) a {
  color: #666666;
  cursor: default;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #e0edff;
}

.fc-event-title-container {
  cursor: pointer;
}

.fc .fc-toolbar {
  display: block;
  position: relative;
  height: 50px;
}

.fc .fc-toolbar.fc-header-toolbar {
  /* margin: 25px 0; */
}

.fc .fc-toolbar-title {
  text-align: center;
  /* font-family: 'Do Hyeon', sans-serif; */
  font-size: 40px;
  color: #303030;
}

.fc-day-other {
  background: #f5f5f5;
}

.fc .fc-today-button {
  position: absolute;
  bottom: -15px;
  right: 0;
  background: #5e5e5e;
}

.fc .fc-today-button:hover {
  position: absolute;
  bottom: -15px;
  right: 0;
  background: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.fc .fc-today-button:active {
  position: absolute;
  bottom: -15px;
  right: 0;
  background: #5e5e5e;
}

.fc .fc-button:disabled {
  opacity: 1;
}

.fc .fc-button-group {
  position: inherit;
}

.fc .fc-button .fc-icon {
  font-size: 30px;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  border-color: #fff;
  color: #575757;
}

.fc-icon-chevron-left::before {
  color: #575757;
}
.fc-icon-chevron-right::before {
  color: #575757;
}

.fc-button-primary {
  box-shadow: none !important;
}

.fc-toolbar-chunk > button.fc-button-primary:hover {
  border: 1px solid #5e5e5e !important;
  background: #5e5e5e !important;
}

.fc-button-group button:focus {
  box-shadow: none;
  background: 'none' !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  position: absolute;
  top: 9px;
  left: 35%;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  position: absolute;
  top: 9px;
  right: 35%;
}

.fc .fc-today-button:active {
  background: #1a252f !important;
  border: 1px solid #151e27 !important;
}

.fc-col-header {
  width: 100% !important;
}
.fc .fc-daygrid-body {
  width: 100% !important;
}

.fc-scrollgrid-sync-table {
  width: 100% !important;
}

.fc-direction-ltr {
  width: 100%;
}

.fc-col-header-cell {
  background: rgb(234, 241, 255);
  /* font-family: 'Orbit', sans-serif; */
  font-weight: 600;
}

.fc-col-header-cell a.fc-col-header-cell-cushion {
  font-size: 18px;
}

.fc-day a {
  font-size: 16px;
}

.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}

.fc .fc-daygrid-day-top {
  justify-content: end;
}

.fc-daygrid-day-number {
  font-size: 16px;
  font-weight: 500;
  /* font-family: 'Jua', sans-serif; */
}

.fc .fc-event::before {
  content: none !important;
  background: none !important;
}

.fc .fc-event::after {
  content: none !important;
  background: none !important;
}

.fc-event-title {
  margin: 1px 0 0 5px;
  /* font-family: 'Jua', sans-serif; */
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-drawer-inline {
  position: initial;
  height: 100%;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-drawer .ant-drawer-mask {
  position: initial;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-drawer .ant-drawer-mask {
  position: initial !important;
}
.ant-drawer-mask {
  display: none;
}

.ant-drawer-right > .ant-drawer-content-wrapper {
  top: 85px;
  right: 30px;
  width: 100% !important;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
  position: initial;
}

.ant-drawer-content {
  border-radius: 10px;
}
